@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
    --green:#5eb64c;
    --white: #ffffff;
    --black: #141414;
    --paragraph-color: #333333;
    --gray: #f2f2f2;
    --dark-gray: #c4c3c3;
}

/* ============ GLOBAL STYLING ============= */
body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.text-green{
    color: var(--green);
}
.bg-gray{
    background-color: var(--gray);
}

a{
    text-decoration: none;
    color: var(--green);
}
a:hover{
    color: var(--green);
}

p{
    color: var(--paragraph-color);
}

h2{
    font-size: 38px;
    color: var(--green);
    font-weight: 700;
    text-align: center;
}

.section-padding{
    padding: 80px 0;
}

.btn-primary-outline{
    min-width: 100px;
    padding: 10px 30px;
    border: 2px solid var(--green);
    color: var(--green);
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.3s ease;
    background-color: transparent;
}
.btn-primary-outline:hover{
    min-width: 100px;
    padding: 10px 30px;
    border: 2px solid var(--green);
    background-color: var(--green);
    color: var(--white);
    font-weight: 500;
}

/* =========== HEADER STYLING ============== */
header .navbar a{
    text-transform: uppercase;
    font-family: 700 !important;
}

/* =========== HERO SECTION STYLING ============ */
.hero-section{
    background-image: url('../Banner_1.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-section p{
    font-size: 20px;
    font-weight: 400;
}

.hero-section h1{
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1.8px;
}

.header-search-box{
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width:768px) {
    .header-search-box{
        display: flex;
        flex-direction: column;
    }
    .header-search-box div{
        width:100%;
    }
    .why-olive-box{
        flex-wrap: wrap;
    }
    .why-olive-box .why-olive-box-item{
        width:100%;
    }
    .why-olive-box .why-olive-box-item .card .card-body img{
        width:100%;
    }
    footer .footer-container{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    footer .footer-container .footer-content{
        width:100%;
        text-align: center;
    }
    footer .footer-container .footer-content img{
        min-width:200px;
    }
    footer .footer-container .footer-content div{
        width: 100%;
    }
    .about-section{
        flex-direction: column;
    }
}

.header-search-box .location,
.header-search-box .check-in,
.header-search-box .checkout,
.header-search-box .search-icon{
    padding: 25px 15px;
}

.header-search-box .check-in{
    border-left: 1px  solid var(--dark-gray);
    border-right: 1px  solid var(--dark-gray);
}

.header-search-box .search-icon{
    width: 110px;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--gray);
    font-size: 24px;
}

.header-search-box .title{
    text-transform: uppercase;
    color: var(--green);
    font-weight: 600;
    font-size: 15px;
    display: block;
    margin-left: 10px;
}

.header-search-box input,
.header-search-box select{
    outline: none;
    border: none;
    min-width: 150px;
    padding: 10px;
}
.header-search-box select{
    border-bottom: 2px solid var(--dark-gray);
}

.header-search-box i{
    color: var(--dark-gray);
}

.scroll-bottom{
    background-color: var(--gray);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: 800;
    color: var(--green);
}

.about-text p{
    font-size: 18px;
    text-align: center;
    width: 70%;
    margin: auto;
}

.location-pods{
    background-image: url('../Browse_by_location/BG.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.location-pods .pods{
    padding: 25px 0;
}

.location-pods .pods .card{
    height: 300px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 15px;
    border-radius: 0;
    box-shadow: none !important;
    margin: 10px 0;
    transition: 0.3s ease;
}

.location-pods .pods .card .border-box{
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    transition: 0.3s ease-in;
}

.location-pods .pods .card .border-box i{
    opacity: 0;
    transition: 0.3s;
}

.location-pods .pods .card:hover .border-box{
    border: 2px solid var(--gray);
    transition: 0.3s ease-in;
}
.location-pods .pods .card:hover .border-box i{
    opacity: 1;
}

.delights{
    background-color: var(--gray);
}
.delights .mediatext,
.delights .textmedia{
    margin-top: -50px;
}
.delights .mediatext.first{
    margin-top: 50px;
}
.delights .mediatext img,
.delights .textmedia img{
    width: 100%;
}
.delights .mediatext .card,
.delights .textmedia .card{
    border-radius: 0;
    border: none;
    padding: 40px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.delights .mediatext .card h3,
.delights .textmedia .card h3{
    font-size: 22px;
    font-weight: 500;
}
.delights .mediatext .content{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: -80px;
}
.delights .textmedia .content{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: -80px;
}
.section-bg-img{
    background-image: url(../Banner_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.card{
    border: none;
    border-radius: 0;
    padding: 0;
}
.blog-section .card-body{
    padding: 0;
}
.mt-minus-5{
    margin-top: -100px;
}
